<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:Solr="http://www.springframework.org/schema/data/solr"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://code.alibabatech.com/schema/dubbo
http://code.alibabatech.com/schema/dubbo/dubbo.xsd
http://www.springframework.org/schema/data/solr
http://www.springframework.org/schema/data/solr/spring-solr.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd">
    <!-- 配置加载属性文件 -->
    <context:property-placeholder location="classpath*:props/*.properties"/>
    <import resource="classpath:applicationContext-mapper.xml"/>

    <dubbo:application name="pinyougou-user-service"/>
    <dubbo:registry protocol="zookeeper" address="192.168.12.131:2181"/>
    <dubbo:protocol name="dubbo" port="20884"/>

    <!-- 配置采用包扫描来暴露服务 -->
    <dubbo:annotation package="com.pinyougou.user.service.Impl"/>

    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="hostName" value="${redis.host}"></property>
        <property name="port" value="${redis.port}"></property>
    </bean>

    <bean id="propertySource" class="org.springframework.core.io.support.ResourcePropertySource">
        <constructor-arg value="classpath:props/redis-cluster.properties"/>
    </bean>

    <bean id="clusterConfiguration" class="org.springframework.data.redis.connection.RedisClusterConfiguration">
        <constructor-arg ref="propertySource"/>
    </bean>

    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="jedisConnectionFactory"/>
    </bean>
</beans>